<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset password instructions</title>
  </head>
  <body>
    <div>
      <p>Hello {username},</p>
      <p>
        You recently made a request to reset your BlackNET account password.
        Please click the link below to continue.
      </p>
      <a href="{actual_link}/reset.php?token={token}">Update my password.</a>
      <p>This link will expire in 24 hours</p>
      <p>If you did not make this request, please ignore this email.</p>
    </div>
  </body>
</html>
