@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

* {
  font-family: "Oxygen", sans-serif;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  font-family: "Oxygen", sans-serif;
}

p {
  font-family: "Oxygen", sans-serif;
}

#submit {
  transition: all 0.5s;
}

#qr_code {
  padding-top: 1.5vh;
}

@media only screen and (max-width: 768px) {
  #upload_info {
    display: none;
  }

  #qr_code {
    padding-top: 0px;
  }
}
