@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

* {
  font-family: "Oxygen", sans-serif;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  font-family: "Oxygen", sans-serif;
}

p {
  font-family: "Oxygen", sans-serif;
}

#submit {
  transition: all 0.5s;
}

#qr_code {
  padding-top: 1.5vh;
}

@media only screen and (max-width: 768px) {
  #upload_info {
    display: none;
  }

  #qr_code {
    padding-top: 0px;
  }
}

.circle-twitter {
  background-color: #1da1f2;
  color: white;
}

.circle-facebook {
  color: white;
  background-color: #3c5a99;
}

.circle-instagram {
  background-color: #c13584;
  color: white;
}

.circle-linkedin {
  background-color: #0077b5;
  color: white;
}

.circle-snapchat {
  background-color: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-stack {
  display: inline-block;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}
