@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

body {
  font-family: "Oxygen", sans-serif;
}

.dropzone {
  border: 1px dashed #0087f7;
  border-radius: 5px;
  min-height: 150px;
}

.dropzone .dz-message {
  text-align: center;
  margin: 10em 0;
}

.dropzone .dz-message::before {
  font-family: FontAwesome;
  content: "\f093";
  font-size: 1.5em;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

@media only screen and (max-width: 768px) {
  .dropzone .dz-message {
    text-align: center;
    margin: 7.2em 0;
  }
}

#canvas {
  margin: auto;
  background-color: #ececec;
  width: 100%;
}
