@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");

* {
  font-family: "Oxygen", sans-serif;
}

.dropzone {
  border: 1px dashed #0087f7;
  border-radius: 5px;
  min-height: 150px;
}

.dropzone .dz-message {
  text-align: center;
  margin: 7em 0;
}

.dropzone .dz-message::before {
  font-family: FontAwesome;
  content: "\f093";
  font-size: 1.5em;
  margin-right: 0.3em;
  margin-left: 0.3em;
}

.circle-twitter {
  background-color: #1da1f2;
  color: white;
}

.circle-facebook {
  color: white;
  background-color: #3c5a99;
}

.circle-instagram {
  background-color: #c13584;
  color: white;
}

.circle-linkedin {
  background-color: #0077b5;
  color: white;
}

.circle-snapchat {
  background-color: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-stack {
  display: inline-block;
  height: 2.5em;
  line-height: 2.5em;
  position: relative;
  vertical-align: middle;
  width: 2.5em;
}
